
/** BASIC */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333333;
	font-weight: normal;
	padding: 20px;
}


h1, h2, h3 {
	color: #006b3c;
}

h1 {
    font-size:32px;}

h2 {
    font-size: 22px;
}

h3{
    font-size: 17px;
}

hr {
    border-top: none;
    border-bottom: 1px solid #ccc;
}

dl{
    margin-left: 0px;
    padding-left: 1em;
    list-style-position:inside;

}



a {
	color: #003099;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #990000;
}

/** HEADER */

#header {
	max-width: 700px;
	margin: 0px auto;
}

#header h1 {
	float: left;
	margin: 0px;
	padding: 20px 0px 0px 0px;
}

/*#header h2 {
	float: right;
	margin: 0px;
	padding: 27px 0px 0px 0px;
}*/

/** MENU */

#menu {
	float: right;
	padding-right: 0px; 
/*	width: 700px;*/
/*	height: 1.5em;*/
/*	margin: 0px auto;*/
/*	border: 1px solid #000099;*/
}

#menu ul {
	margin: 0px;
	padding: 25px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 8px 13px 15px 0px;
/*	font-size: 15px;*/
/*	border-right: 1px solid #000099;*/
	text-decoration: none;
}

#menu li:last-child a {
    padding-right: 0;
}

#menu a:hover {
/*	background: #000099;*/
/*	border-bottom: 3px #FFFFFF solid; */
	text-decoration: none;
/*	color: #FFFFFF;*/
}

/** CONTENT */
p {
    text-align: justify;
}


#content {
	max-width: 700px;
	margin: 0px auto;
}

#content h2 {
	font-weight: normal;
}



#left {
	float: left;
	width: 60%;
}

#right {
	float: right;
	width: 35%;
	margin-left: 5%;
	padding-top: 30px;
}

#self {
    width:100%;
}

#header:after, #menu::after, #menu ul::after, #content:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:640px) {
    p {
	text-align: left;
	line-height: 150%;
    }

    #left, #right, #menu, #header h1 {
	margin: 0px;
	float: initial;
	width: 100%;
    }

    #self {
	width:100%;
	height:200px;
	object-fit: cover;
    }
}

/** FOOTER */

#footer {
	clear: both;
	max-width: 700px;
	margin: 0px auto;
/*	float: left;*/
	padding: 0px 0px;
/*	border: 1px solid #000099;*/
}

#footer p {
	margin: 0px;
	padding-top: 0px;
	padding-left: 0px;
	float: right;
	font-size: x-small;
}
