header {
  background-color: MediumSeaGreen;
  padding: 30px;
}
h1 {
  font-family: verdana;
  font-size: 250%;
  color: #FFFFFF;
}
h2 {
  font-size: 150%;
  font-family: verdana;
  color: MediumSeaGreen;
}
p {
  font-family: arial;
}
